body {
	font-family: Arial, sans-serif;
}

#task-input {
	width: 50%;
	padding: 10px;
	margin-bottom: 10px;
}

#add-task-btn {
	background-color: #4CAF50;
	color: #fff;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

#add-task-btn:hover {
	background-color: #3e8e41;
}

#task-list {
	list-style: none;
	padding: 0;
	margin: 0;
}

#task-list li {
	background-color: #f9f9f9;
	padding: 10px;
	margin-bottom: 10px;
	border-bottom: 1px solid #ddd;
}

#task-list li:last-child {
	border-bottom: none;
}

/* add checked style */
#task-list li:checked {
	background-color: #ccc;
	color: #666;
	text-decoration: line-through;
}
