body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

header nav ul {
    list-style: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 15px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

header nav ul li a:hover {
    text-decoration: underline;
}

.container {
    max-width: 1100px;
    margin: auto;
    padding: 1rem;
}

h1, h2 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

p, li {
    font-size: 18px;
}

section {
    padding: 20px 0;
}

.experience-item {
    background: #fff;
    margin-bottom: 20px;
    padding: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

ul {
    list-style-type: square;
    margin-left: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}
